header {
    background-color: #fff;
    border-bottom: 1px solid #cccccc;
}
.aboutMe {
    background-color: #fff;
}

.footer {
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
}

#aboutImage {
    width: 250px;
}